{% extends "header.html" %}
{% block content %}

    <h1> Add product to database </h1>

<form  method="post" action="post_data_response.html">
    {% csrf_token  %}
    <input type="text" name="item_id" placeholder="Item ID"  size="40" required> <br> <br>
    <input type="text" name="item_name" placeholder="Item Name"  size="40" required> <br> <br>
    <input type="text" name="item_price" placeholder="Item Price"  size="40" required> <br> <br>
    <input type="text" name="manufacturing_country" placeholder="Manufacturing Country"  size="40" required><br>  <br>

    <button type="submit" onclick="location.href='post_data_response.html';">Add to cart</button>
</form>

{% endblock %}