<!DOCTYPE html>
<html lang="en">

<head>
	<title>Qvantel Task</title>
	<meta charset="utf-8" />
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>


</head>

<body class="body" style="background-color:#ffffff">
     <div style="display: flex; justify-content: center;">
        <img src="/static/images/qvantel_logo.jpg"  style='max-height:50px;' >
    </div>
	<div>
	   {% block content %}
	   {% endblock %}
	</div>
</body>

</html>